@import "variables";

.div--404{
    height: 90vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    #error-img{
        width: 30rem;
    }
    h1{
        margin: 2rem 0;
        .errormsg{
            color: $error;
        }
    }
}

